html {
    background-color: #eeeeee
}

body {
    margin: 30px;
}

.plot {
    padding: 0px;
    padding-right: 3px;
    border-width: 1px;
    border-color: #999999;
    border-style: solid;
}

.content {
    margin-left: 20px;
    margin-top: 20px;
}

.bk-data-table {
    margin: 0 !important;
}
