html {
    background-color: #eeeeee
}

body {
    margin: 30px;
}

.plot {
    padding: 0px;
    padding-right: 3px;
    border-width: 1px;
    border-color: #999999;
    border-style: solid;
    background-color: white;
}

.bk-data-table {
    margin: 0 !important;
}

.bk-root {
    overflow: auto;
}

.columns {
    margin: 0;
}

.columns:not(:last-child) {
    margin-bottom: 10px;
}
