html {
    background-color: #eeeeee
}

html, body
{
    height: 100%;
}

.plot {
    padding: 0px;
    padding-right: 3px;
    border-width: 1px;
    border-color: #999999;
    border-style: solid;
    background-color: white;
}

.bk-data-table {
    margin: 0 !important;
}

.bk-root {
    overflow: auto;
}

.columns {
    margin: 0;
}

.columns:not(:last-child) {
    margin-bottom: 10px;
}

.main {
    margin: 0;
    height: 100%;
}

.fullscreen-with-padding {
    height: 100%;
    padding: 30px;
}

.index-plot-column {
    border-style: solid;
    border-width: 1px;
    border-color: #999999;
    text-align: center;
    padding: 0;
}

.column-content {
    text-align: center;
}

.is-vertical-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}  

#arrow {
    margin: auto;
}

.h-10 {
    height: 10%;
}

.h-20 {
    height: 20%;
}

.h-80 {
    height: 80%;
}

.h-90 {
    height: 90%;
}

.column-title {
    padding: 20px;
}

.column-content a {
    margin-top: 8px;
    color: #4a4a4a;
    text-decoration: underline;
}

.timestamp {
    position: fixed;
    bottom: 6px;
    font-size: 12px;
    right: 6px;
}
